{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
      <h2>Select the language you want to learn</h2>
      <hr/>
    
      <ul>
        <li>
            Language 1
          </li>
          <li>
            Language 1
          </li>
      </ul>

      <hr/>

      <h2>Or purchase our bestelling books on Amazon!</h2>

      <ul>
        <li>
            Book 1
          </li>
          <li>
            Book 2
          </li>
      </ul>

   </div>
  </div>
</div>
{% include "small-footer.html" %}
{% endblock %}
